Django
psycopg2-binary
SpeechRecognition
python-decouple
django-cors-headers
django-rest-framework
djangorestframework-simplejwt
djangorestframework
openai
language-tool-python
Pillow
python-dotenv
cloudinary
django-cloudinary-storage
setuptools
whitenoise
openpyxl